flask
Flask-Cors
groq
PyPDF2
gunicorn
python-dotenv
arxiv
langchain
langchain-chroma
langchain-core
langchain-groq
langchain-google-genai
langchain-huggingface
langchain-tavily
langchain-community
langgraph
pgvector
pymupdf
requests
supabase
wikipedia
sentence-transformers
tavily-python