flask
Flask-Cors
groq
PyPDF2
gunicorn
python-dotenv
arxiv
langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-tavily
langchain-community
langgraph
pgvector
requests
supabase
wikipedia
tavily-python